transformers
torch
accelerate
langchain
langchain-community
sentencepiece
faiss-cpu
python-dotenv
faster-whisper
sounddevice
scipy
TTS
pip
opencv-python
pillow
pytesseract
langdetect
ultralytics 
opencv-python
